* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
    background-color: black;
}

html body {
    width: 100%;
    height: 100%;
}

#minicircle {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: white;
    z-index: 99999;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
}

#main {
    width: 100%;
}

#hero {
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;

}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    color: white;
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.bounding {
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem {
    transform: translateY(100%);
}

#heading {
    margin-top: 90px;
}

#heading h1 {
    line-height: 1;
    margin-left: 40px;
    opacity: .6;
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 900;

}

#heading #secondh1 {
    margin-left: 230px;
}

.blocktext {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.blocktext h5 {
    text-align: right;
    font-size: 15px;
}

#smallheadings {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 120px;
    padding-right: 40px;
    text-align: right;
    text-transform: uppercase;
    line-height: 2.2;

}

#herofooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 40px;
    color: white;
}

#herofooter a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

#herofooter #icon-set {
    display: flex;

}

#second {
    padding-left: 3vw;
    padding-right: 12vw;
    padding-top: 170px;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;

}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #888;
    padding: 3vw 0.1vw;

}

.elem h1 {
    opacity: .6;
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 500;
}

.elemlast {
    border-bottom: 1px solid #888;

}

.elem img {
    display: none;
    /* opacity: 0; */
    height: 140%;
    z-index: 999;
    position: absolute;
}

#about {
    margin-top: 250px;
    display: flex;
    align-items: center;
    gap: 70px;
    color: white;
    padding: 10vw 10vw;
    padding-left: 25vw;
    width: 100%;
}

#about img {

    width: 275px;

}

#textabout a {
    padding: 12px 20px;
    border: 1px solid #888;
    border-radius: 100px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

#textabout {
    width: 30rem;
}

#textabout h5 {
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;
}

#textabout p {
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 400;
}

#subscribe {
    color: white;
    padding: 20px 30px;
}

#subscribe h5 {
    margin-bottom: 8px;
    text-transform: uppercase;
    opacity: 0.6;
}

#subscribe a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;


    font-size: 16px;
}

#footer {
    color: white;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;

}

#footerleft {
    display: flex;
    gap: 30px;
    color: white;
    font-size: 20px;
    font-weight: 400px;
}

#footer a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400px;
}

#footerright {
    display: flex;
    gap: 40px;
}